.paddingnone{
  padding: none;
}

.padding-xs{
  padding: 0.8rem;
}

.padding-bottom-xs{
  padding-bottom: 0.3rem;
}
.padding-0.3rem{
  padding: 0.3rem;
}




.padding1rem{
  padding: 1rem;
}

.padding-sm{
padding: 2rem;
}
.padding-top-sm{
  padding-top: 2rem;
}
.padding-bottom-sm{
  padding-bottom: 2rem;
}
.padding-top-bottom-sm{
  padding-top: 2rem;
  padding-bottom: 2rem;
}





.padding-med{
padding: 4rem;
}

.paddingleftlarge{
  padding-left: 5rem;
}




.marginauto{
  margin: auto;
}
.margin-xsm{
  margin: 0.7rem;
}

.margin-left-1rem{
  margin-left: 1rem;
}

.margin-left-right-med{
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-top-bottom-lrg{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.margin-left-right-lrg{
    padding-right: 5rem;
    padding-left: 5rem;
}

.margin-top-lrg{
  margin-top: 5rem;
}
.margin-bottom-lrg{
  margin-bottom: 5rem;
}
.margin-right-lrg{
  margin-right: 5rem;
}
.margin-left-lrg{
  margin-left: 5rem;
}
